:root {
    --background : rgb(238, 77, 45);

}

.container-fluid {
    margin: 0;
    padding: 0;
}

.content {
    background-color: var(--background);
    width: 100%;
    height: 650px;
}

.header {
    background-color: white;
    padding: 15px;
    padding-right: 20%;
    padding-left: 20%;

}

.header_logo img {
    height: 40px;
    translate: 0 -6px;
}

.header .link a {
    text-decoration: none;
    color: var(--background);
    font-size: 13px;
}

.content {
    margin: 0;
    padding: 0;
}

.content .content_logo {
    filter: brightness(10);
    height: auto;
    width: 400px;
}

.content .content_login {
    
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.content .content_login .pop-up {
    border: 2px solid #ffbf00;
    position: relative;
    background-color: #fefaec;
    padding: 5px 15px 0px 15px;
    color: #ffbf00;
}

.content .content_login .pop-up::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    margin-left: 155px;
    margin-top: 20px;
    transform: rotate(45deg);
    background-color: #fefaec;
    border-right: 2px solid #ffbf00;
    border-top: 2px solid #ffbf00;
}

.content .content_login__qr {
    width: auto;
    height: 50px;
    padding-left: 10px;
    translate: 0 10px;
}

.btn {
    /* background-color: orange; */
    background-color: var(--background);
}

/* .btn:hover {
    background-color: var(--background);
} */

.login_info a {
    text-decoration: none;
}

.line {
    height: 1px;
}

.row .link {
    width: 100%; 
    background-color: white;
    border: 1px solid gray;
}

.footer {
    padding: 40px 20% 0 20%;
    background-color: #fef6f5;
    height: 950px;
}

.footer a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.footer a:hover {
    color: var(--background);
}

.footer_qr a {
    opacity: 1;
    border: 1px solid black;
    margin:0 0 10px 15px;
    padding: 5px;
    translate: 0 -8.5px;
    background-color: white;
    box-shadow: 0.5px 0.5px 1px 1px black;
}

.title {
    font-size: 13px;

}

.line2 {
    margin-top: 50px; 
    border-top: 2px solid black;
    padding-top: 30px;
    opacity: 0.8;
}

.line2 a {
    opacity: 1;
    padding: 0 10px 0 5px;
    font-size: 10px;
}

.line3 {
    padding-top: 60px;
    padding-bottom: 50px;
}

.line3 a{
    padding: 0 30px 0 30px;
}
